* {
    margin: 0;
    padding: 0;
    
    word-wrap: break-word;
}
body {
    background: linear-gradient(#6699ff, #ffb3ff);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    align-content: start;
    text-align: center;
    font-size:1.5em;
    justify-content: center;
    min-height: 100vh;
}


.navbar{
    grid-row: 1/2;
    text-align: center;
    grid-column: 1/7;
    background: linear-gradient(#66ffcc, #33ccff);
    border: black solid 2px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(18,1fr);
}
.navbar a{
    border-right: black solid 2px;
    margin: 1vh 0;
    padding-top: 1vh;
    height: 3rem;
    font-size: 1.5rem;
}
.home-logo{
    grid-column: 1/2;
    padding: 0.5vh 0!important;    
}

.logo{
    height:3rem;
    transition:  .5s;
}
.logo:hover{
    height: 3.5rem;
}
.lost{
    grid-column: 2/4;
}
.post{
    grid-column: 4/6;
}
.logout{
    grid-column: 15/17;
}
.user{
    grid-column: 17/19;
}
.login{
    grid-column: 15/17;
}
.signup{
    grid-column: 17/19;
}


.logged-in{
    grid-row: 2/3;
    grid-column: 6/7;
    margin: 1rem;
    padding: 0.5rem;
    font-weight: bold;
    background-color: rgb(102, 255, 204, 0.5);
    border: black solid 2px;
    border-radius: 1rem;
}
.message{
    grid-row: 2/3;
    grid-column: 3/5;
    margin: 1rem;
    padding: 0.5rem;
    font-weight: bold;
    background-color: rgba(20, 103, 199, 0.5);
    border: black solid 2px;
    border-radius: 1rem;

}



.heading {
    grid-row: 4/5;
    grid-column: 1/7;
    font-size: 3.5rem;
    height: 10rem;
    margin-top: 3rem;
    user-select: none;
}

.home-text{
    grid-row: 5/6;
    grid-column: 1/7;
    font-size: 2rem;
    padding: 0 10vw;
}

.table-container{
    overflow-x: auto;
    grid-row: 5/6;
    grid-column:1/7;    
}

.Table{
    
    border: black solid 2px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255, 0.5);
    margin: 3rem auto;
    width: auto;
    border-collapse: collapse;
}
td{
    border: solid black 1px;
    padding: 0.5rem 3rem;
}
tr:nth-child(2n){
    background-color: rgb(196, 196, 196);
}
th{
    border-right: solid black 1px;
}
a{
    text-decoration: none;
    font-size: 1.5rem;
    transition:  .5s;
    color: blue;
}
a:hover{
    font-size: 1.6rem;
    color: #cc33ff;
}



form{
    grid-column: 2/6;
    grid-row: 5/6;
    border: solid black 2px;
    border-radius: 1rem;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    margin: 0 5rem 5rem 5rem;
    padding: 5rem;
    background-color: rgb(102, 255, 204, 0.5);
}
form button{
    align-self: center;
    width: 10rem;
    height: 3rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
form input{
    align-self: center;
    padding: 0.3rem;
    text-align: center;
    height: 2rem;
    width: 50%;
    margin: 1.5rem 0;
}

form label{
    font-weight: bold;
    width: 100%;
    align-self: center;
}

.view-user{
    width: 80rem!important;
}

.view-user td{
    font-size: 2rem;
}

.profile-img, .post-lable-img, .update-profile{
    padding:3%;
    border:thin solid black;
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.3);
    margin:2rem 0;
    width: 50%;
}

#imageName{
    color:green;
  }
.post-image, .profile-image{
    display: none;
}
.post-header{
    font-size: 2rem;
    text-align: center;
    
}
.post-descrip{
    font-size: 1rem;
    resize: none;
    margin: 3rem 10rem;
    padding: 0.3rem;
    min-height: 20rem;
}

div label{
    grid-column: 1/2;
    font-size: 1.5rem;
}
div input{
    grid-column: 2/3;
    width: 20rem;
    height: 1.5rem;
}



/*lost */
.lost-container{
    grid-area: 5/1/6/7;
}
.lost-things{
    width: auto;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 5rem repeat(4,1fr);
    background-color: rgb(102, 255, 204, 0.5);
    margin: 0 5rem 5rem 5rem;
    border-radius: 5rem;
    padding: 3rem 3rem 0.5rem 3rem;
}

.lost-things div{
    background-color: rgba(15, 80, 202, 0.3);
    padding: 1rem;
    border-radius: 1rem;
}

.lost-image, .view-lost-image{
    grid-area: 1/1/5/3;
    border-bottom: solid black 2px;
    border-right: solid black 2px;
    height: 20vw;
    padding: 3rem;
    
}
.img-lost{
    height: 20vw;
    width: 20vw;
    object-fit: cover;
}
.lost-header{
    grid-area: 1/3/2/7;
    border-bottom: solid black 2px;
    font-size: 3rem;
}
.lost-descrip{
    grid-area: 2/3/5/7;
    border-bottom: solid black 2px;
}
.lost-name{
    grid-area: 5/1/6/3;
    border-right: solid black 2px;
    height: 2rem;
}
.lost-mail{
    grid-area: 5/3/6/6;
    border-right: solid black 2px;
    height: 2rem;
}
.lost-view{
    grid-area: 5/6/6/7;
    height: 2rem;
}
.view-lost-descrip{
    grid-area: 1/3/5/7;
    border-bottom: solid black 2px;
}
.view-image{
    width: 10rem;
    cursor: pointer;
}

.lost-view-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}


.w3-modal{
    z-index:3;
    display:none;
    padding-top:100px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4)
}
.w3-modal-content{
    margin:auto;
    background-color:#fff;
    position:relative;
    padding:0;
    outline:0;
    width:600px
}
.w3-animate-zoom {
    animation:animatezoom 0.6s
}
@keyframes animatezoom{
    from{
        transform:scale(0)
    } 
    to{
        transform:scale(1)
    }
}
.w3-display-topright{
    position:absolute;
    right:0;
    top:0;
    background-color: rgb(0,0,0,0.5); 
    cursor: pointer; 
    height: 3rem; 
    width: 3rem; 
    margin: 3rem;}

.error{
    grid-row: 5/6;
    grid-column: 1/7;
    text-align: center;
}


@media screen and (max-width: 992px) {
    .navbar a{
        padding: 0;
    }
    
    a{
        font-size: 1rem!important;
        word-wrap:normal;
    }
    .home-logo{
        grid-column: 1/4;
    }
    .lost{
        grid-column: 4/7;
    }
    .post{
        grid-column: 7/10;
    }
    .logout{
        grid-column: 13/16;
    }
    .user{
        grid-column: 16/19;
    }
    .login{
        grid-column: 13/16;
    }
    .signup{
        grid-column: 16/19;
    }
    div.logged-in{
        grid-column: 1/7;
    }
    p.message{
        grid-row: 3/4;
        grid-column: 1/7;
        margin-top: 0;
    }
    a:hover{
        font-size: 1.1rem!important; 
    }
    h1.heading{
        font-size: 2rem;
    }
     
    p.home-text{
        font-size: 1.3rem;
    }
    table.Table{
        font-size: 1rem;
    }

    form{
        padding: 0 0 2rem 0!important;
        margin: 0 2rem 3rem 2rem!important;
        grid-column: 1/7!important;
    }
    
    form label{
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    form input{
        margin: 1rem 0!important;
    }
    textarea.post-descrip{
        margin: 3rem 5rem;
    }
    div.lost-things{
        grid-template-rows: none;
        margin: 0 5vw 10vh 5vw;
        padding: 10vw 1vw 1vw 1vw;
        border-radius: 5vw;
    }

    
    div.lost-header{
        grid-area: 1/1/2/7;
        font-size: 2rem;
    }
    div.lost-image{
        grid-area: 2/1/4/7;
        border-right: none;
    }

    div.lost-descrip{
        grid-area: 4/1/5/7;
        font-size: 1rem;
    }
    div.lost-name{
        grid-area: 5/1/6/7;
        border-bottom: solid black 2px;
        border-right: none;
        font-size: 1rem;
    }
    div.lost-mail{
        grid-area: 6/1/7/5;
        font-size: 1rem;
    }
    div.lost-view{
        grid-area: 6/5/7/7;
        margin-bottom: 3rem;
        font-size: 0.5vw;
    }
    div.view-lost-descrip{
        grid-area: 4/1/5/7;
        font-size: 1rem;
    }
    div.view-lost-image{
        grid-area: 2/1/4/7;
        border-right: none;
        height: 25rem;
        padding: 0;
    }
    
}
