* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(#6699ff, #ffb3ff);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    height: auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    align-content: center;
    text-align: center;
    font-size:1.5em;
    justify-content: center;
}


.navbar{
    grid-row: 1/2;
    text-align: center;
    grid-column: 1/7;
    background: linear-gradient(#66ffcc, #33ccff);
    border: black solid 2px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(18,1fr);
}
.navbar a{
    border-right: black solid 2px;
    margin: 1vh 0;
    padding-top: 1vh;
    height: 3rem;
    font-size: 1.5rem;
}
.home-logo{
    grid-column: 1/2;
    padding: 0.5vh 0!important;    
}

.logo{
    height:5vh;
    transition:  .5s;
}
.logo:hover{
    height: 6vh;
}
.lost{
    grid-column: 2/4;
}
.post{
    grid-column: 4/6;
}
.logout{
    grid-column: 15/17;
}
.user{
    grid-column: 17/19;
}
.login{
    grid-column: 15/17;
}
.signup{
    grid-column: 17/19;
}




.logged-in{
    grid-row: 2/3;
    grid-column: 6/7;
    margin: 1rem;
    padding: 0.5rem;
    font-weight: bold;
    background-color: rgb(102, 255, 204, 0.5);
    border: black solid 2px;
    border-radius: 1rem;
}
.message{
    grid-row: 2/3;
    grid-column: 5/6;
    margin: 1rem;
    padding: 0.5rem;
    font-weight: bold;
    background-color: rgb(102, 255, 204, 0.5);
    border: black solid 2px;
    border-radius: 1rem;

}

.heading {
    
    grid-row: 3/4;
    grid-column: 1/7;
    font-size: 3rem;
    transition:  1s;
}
.heading:hover{
    font-size: 4rem;
    color: rgb(000,000, 000,0.6);
}

.Table{
    grid-row: 3/4;
    
    border: black solid 2px;
    border-radius: 5px;
    grid-column:1/7;
    background-color: rgb(255, 255, 255, 0.5);
    margin: 3rem auto;
    width: auto;
    border-collapse: collapse;
    
}
td{
    border: solid black 1px;
    padding: 0.5rem 3rem;   
}
tr:nth-child(2n){
    background-color: rgb(196, 196, 196);
}
th{
    border-right: solid black 1px;
}
a{
    text-decoration: none;
    font-size: 1.5rem;
    transition:  .5s;
    color: blue;
}
a:hover{
    font-size: 1.6rem;
    color: #cc33ff;
}
