<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="static/style.css" />
    <script src="https://use.fontawesome.com/3a2eaf6206.js"></script>
    <link rel="icon" type="image/x-icon" href="static/images/homelogo.png">
    <title> Pakuranga lost & found</title>

</head>
<body>
    <nav class="navbar">
        <a href="/" class="home-logo"><img src="static/images/homelogo.png" class="logo" alt="homepage logo"></a>
        <a href="/lost" class="lost"> Losts & Founds</a>
        <a href="/post" class="post"> Post things</a>
        {% if session["logged_in"] %}
            <a href="/logout" class="logout">Log out</a>
            <a href="/user" class="user"> My account</a>
        {% else %}
            <a href="/login" class="login">Login</a>
            <a href="/signup" class="signup">Sign Up!</a>
        {% endif %}
        
    </nav>
    <div class="logged-in">
    {% if session["logged_in"] %}
        You are logged in! <br>{{ session['first_name'] + ' ' + session['last_name']}}
    {% else %}
        You are not logged in
    {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
            <p class="message">{{ message }}</p>
    {% endfor %}
    {% block content %}
    {% endblock %}
    <script>
        let input = document.getElementById("inputTag");
        let imageName = document.getElementById("imageName")

        input.addEventListener("change", ()=>{
            let inputImage = document.querySelector("input[type=file]").files[0];

            imageName.innerText = inputImage.name;
        })
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
}
    </script>
</body>
</html>