
{% extends "_layout.html" %}
{% block content %}
<h1 class="heading">Losts</h1>


<div class="lost-container">
{% for lost_row in lost_results[::-1] %}
<div class="lost-things">
    
    <div class="lost-image"><img src="{{ lost_row['image']}}" class="img-lost" alt="{{ lost_row["header"] }}"></div>
        <div class="lost-header">{{ lost_row["header"] }}</div>
        <div class="lost-descrip">{{ lost_row["description"] }}</div>
        <div class="lost-name">{{ lost_row["first_name"] }} {{ lost_row["last_name"] }}</div>
        <div class="lost-mail"><a href="mailto:{{ lost_row["email"] }}">{{ lost_row["email"] }}</a></div>
        <div class="lost-view">
            <a href="/viewpost?id={{ lost_row['id'] }}">View     </a>
            <a href="/updatepost?id={{ lost_row['id'] }}">Edit     </a>
            <a href="/deletepost?id={{ lost_row['id'] }}" onclick="return confirm('Are you sure you want to delete {{ lost_row["header"] }}?')">Delete</a>
        </div>
        
</div>
{% endfor %}
</div>
{% endblock %}
