{% extends "_layout.html" %}

{% block content %}
<h1 class="heading"> Sign up</h1>
<form method="POST" enctype="multipart/form-data" class="form">
    
        <label class="profile-img" for="inputTag"> 
            Select profile image<br>
            <i class="fa fa-2x fa-camera"></i>
            <input name="profile" type="file" class="profile-image" id="inputTag"> 
            <br>
            <span id="imageName"></span>
        </label>
    
    <br>
    
    <label> First Name</label>
    <br>
    <input name="first_name" required>
   
    <br>
   
    <label> Last Name</label><br>
    <input name="last_name" required>
   
    <br>
   
    <label> Email</label><br>
    <input name="email" type="email" required>
 
    <br>
   
    <label> Password</label><br>
    <input name="password" type="password" required>
  
    <br>
    <button type="submit">Sign up</button>
    
    
</form>

{% endblock %}