{% extends "_layout.html" %}

{% block content %}

<h1> hi</h1>
<form method="POST" enctype="multipart/form-data">
    <label> First Name</label>
    <input name="first_name">
    <br>
    <label> Last Name</label>
    <input name="last_name">
    <br>
    <label> Email</label>
    <input name="email" type="email">
    <br>
    <label> Password</label>
    <input name="password" type="password">
    <br>
    <button type="submit">Sign up</button>
    <br>
    <label> Profile Picture</label>
    <input name="profile" type="file">
</form>

{% endblock %}