{% extends "_layout.html" %}

{% block content %}

<h1 class="heading"> Update my details</h1>
<form method="POST" enctype="multipart/form-data">
    <input name="id" type="hidden" value="{{ result['id']}}">
    <input name="old_password" type="hidden" value="{{ result['password']}}">
    <input name="old_profile" type="hidden" value="{{ result['profile']}}">

    <br>
    
    <label> First Name</label>
    <input name="first_name" value="{{ result['first_name']}}" required>
    <br>
    <label> Last Name</label>
    <input name="last_name" value="{{ result['last_name']}}" required>
    <br>
    <label> Email</label>
    <input name="email" type="email" value="{{ result['email']}}" required>
    <br>
    <label> Password</label>
    <input name="password" type="password" >
    <br>
    <label> Profile Picture</label>

    <label class="update-profile" for="inputTag"> 
        Select image<br>
        <i class="fa fa-2x fa-camera"></i>
        <input name="profile" type="file" class="profile-image" id="inputTag"> 
        <br>
        <span id="imageName"></span>
    </label>
    <button type="submit">Update</button>
</form>

{% endblock %}