{% extends "_layout.html" %}

{% block content %}

<h1 class="heading"> Update my post</h1>
<form method="POST" enctype="multipart/form-data">
    <input name="id" type="hidden" value="{{ result['id']}}">
   
    <input name="old_image" type="hidden" value="{{ result['image']}}">
    <label> Image</label>
    <br>
    <label class="post-lable-img" for="inputTag"> 
        Select image<br>
        <i class="fa fa-2x fa-camera"></i>
        <input name="image" type="file" class="post-image" id="inputTag"> 
        <br>
        <span id="imageName"></span>
    </label>
    <br>
    <label> Header</label>
    <input name="header" value="{{ result['header']}}" required>
    <br>
    <label> Description</label>
    <textarea name="description" class="post-descrip" maxlength="985" placeholder="{{ result['description']}}" required></textarea>
    <br>
    
    <button type="submit">Update</button>
</form>

{% endblock %}