{% extends "_layout.html" %}
{% block content %}
<h1 class="heading">My details</h1>
<div class="table-container">
<table class="Table view-user">
    
    <tr>
        <th> Image </th>
        <th> First name </th>
        <th> Last name</th>
        <th> Email </th>
        <th>Actions</th>
       
    </tr>
    <tr>
        
        <td><img src="{{ result['profile']}}" class="view-image" onclick="onClick(this)"></td>
        <td>{{ result['first_name']}}</td>
        <td>{{ result['last_name']}}</td>
        <td><a href="mailto:{{ result['email']}}"> {{ result['email']}}</a></td>
        <td><a href="/update?id={{ result['id']}}">Edit</a></td>
    </tr>

</table>
</div>
<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
      <img id="img01" style="width:100%">
    </div>
  </div>


{% endblock %}  