{% extends "_layout.html" %}
{% block content %}
<h1 class="heading">Hello Pakuranga</h1>
<table class="Table">
    
    <tr>
        <th> ID </th>
        <th> Image </th>
        <th> First name </th>
        <th> Last name</th>
        <th> Email </th>
       
    </tr>
    <tr>
        
        <td><img src="{{ session['profile']}}" height="25rem"></td>
        <td>{{ session['first_name']}}</td>
        <td>{{ session['last_name']}}</td>
        <td><a href="mailto:{{ session['email']}}"> {{ session['email']}}</a></td>
    </tr>

</table>
<a href="/" class="homelink"> Home page</a>
<a href="/update?id={{ session['id']}}">Edit</a>


{% endblock %}  